@import url("https://fonts.googleapis.com/css2? family-Stylish&display=swap");
body {
  height: 90vh;
  background-image: url("https://images.pexels.com/photos/6985045/pexels-photo-6985045.jpeg?auto-compress&cs=tinysrgb&dpr=1&w=500");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Stylish", sans-serif;
  font-size: 23px;
}

.admin_img {
  width: 100px;
  object-fit: contain;
}
